GRC_News_Assistant_3_PUBLIC.json
{
  "name": "GRC_News_Assistant_3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        -48
      ],
      "id": "d63d8b9b-8ebe-4ee3-ab53-ab0ec840d02a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "list",
          "cachedResultName": "GRC News Assistant Database",
          "cachedResultUrl": "https://www.notion.so/YOUR_NOTION_DATABASE_ID"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $('Merge').item.json.title }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $('Merge').item.json.url }}"
            },
            {
              "key": "Labels|multi_select",
              "multiSelectValue": "={{ $json.labels }}"
            },
            {
              "key": "Rating|select",
              "selectValue": "={{ $json.rating }}"
            },
            {
              "key": "Quality Score|number",
              "numberValue": "={{ $json['quality-score'] }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $json['one-sentence-summary'] }}"
            },
            {
              "key": "Published Date|date",
              "date": "={{ $('Merge').item.json.pubDate }}"
            },
            {
              "key": "Processed Date|date",
              "date": "={{ DateTime.now().toISO() }}"
            },
            {
              "key": "Source|select",
              "selectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Snippet|rich_text",
              "textContent": "={{ $('Merge').item.json.content && $('Merge').item.json.content.length > 2000 ? $('Merge').item.json.content.substring(0, 1996) + '...' : $('Merge').item.json.content }}\n"
            },
            {
              "key": "Rating Explanation|rich_text",
              "textContent": "={{ $json['rating-explanation'] }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        528,
        -48
      ],
      "id": "dfffdda2-55ff-4be2-a44b-efd11e904c0b",
      "name": "Create a database page",
      "retryOnFail": true,
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        -64
      ],
      "id": "dca2e9cd-857e-4964-9d4b-367904665b51",
      "name": "getContent"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -624,
        -64
      ],
      "id": "f94fd311-6738-44e0-9096-6204f94065d0",
      "name": "Markdown"
    },
    {
      "parameters": {
        "url": "=https://rss.libsyn.com/shows/289580/destinations/2260670.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1984,
        368
      ],
      "id": "52812430-7f4f-4621-a84e-195bf2a9f4e6",
      "name": "CISO Series"
    },
    {
      "parameters": {
        "url": "=https://www.cisa.gov/cybersecurity-advisories/all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2016,
        -48
      ],
      "id": "ad9fbe81-4dcc-46a7-8898-78efb1514950",
      "name": "CISA Cybersecurity Advisories"
    },
    {
      "parameters": {
        "url": "=https://danielmiessler.com/feed.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2016,
        176
      ],
      "id": "a1c122bd-d5fc-4651-bd64-98f128918300",
      "name": "Unsupervised Learning"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fff4158a-5739-4aaf-973f-f07c716f4216",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ DateTime.now().minus(3, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        -48
      ],
      "id": "099acffe-5d12-405a-a30c-166e2057cacf",
      "name": "Check Publication Date1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fff4158a-5739-4aaf-973f-f07c716f4216",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ DateTime.now().minus(3, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        176
      ],
      "id": "44ac5b70-29af-4eb5-81e0-3dc1a2c3c664",
      "name": "Check Publication Date2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61fa4a20-164f-4d2b-9299-393edbe3055e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ad792e9f-1047-4746-97a2-e353d83c3c16",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bc03e04a-5700-45e6-b826-6a8bb08d88a7",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0dcb2bd3-8896-4556-bd49-cfe5a4924880",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "40577eb4-1426-4d4e-b6af-31a1deba2d9b",
              "name": "source",
              "value": "\"CISA Cybersecurity Advisories\"",
              "type": "string"
            },
            {
              "id": "7a91b11e-f439-400b-8040-bbba05085229",
              "name": "sourceType",
              "value": "\"advisory\"",
              "type": "string"
            },
            {
              "id": "00346595-494a-444e-8749-54ba0a7b48fb",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "87cada0e-a0f1-4b83-8e7c-b325f53472ae",
              "name": "author",
              "value": "={{ $json['dc:creator'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -112
      ],
      "id": "8f8dc3ad-39f6-4da3-806f-7a545f132e5a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61fa4a20-164f-4d2b-9299-393edbe3055e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ad792e9f-1047-4746-97a2-e353d83c3c16",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bc03e04a-5700-45e6-b826-6a8bb08d88a7",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0dcb2bd3-8896-4556-bd49-cfe5a4924880",
              "name": "content",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "40577eb4-1426-4d4e-b6af-31a1deba2d9b",
              "name": "source",
              "value": "\"Daniel Miessler\"",
              "type": "string"
            },
            {
              "id": "7a91b11e-f439-400b-8040-bbba05085229",
              "name": "sourceType",
              "value": "\"Blog\"",
              "type": "string"
            },
            {
              "id": "00346595-494a-444e-8749-54ba0a7b48fb",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "87cada0e-a0f1-4b83-8e7c-b325f53472ae",
              "name": "author",
              "value": "={{ $('Unsupervised Learning').item.json.author }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        112
      ],
      "id": "257d4a48-3023-4927-9429-995ec42139fb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://rss.beehiiv.com/feeds/sdyjKjX6eY.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2016,
        -288
      ],
      "id": "4ae2d9fa-894e-450a-b747-55449950b497",
      "name": "Simply Cyber Newsletter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fff4158a-5739-4aaf-973f-f07c716f4216",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ DateTime.now().minus(3, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1776,
        368
      ],
      "id": "63ef8b4f-7d89-418d-ab26-ca2f2d22b20b",
      "name": "Check Publication Date3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61fa4a20-164f-4d2b-9299-393edbe3055e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ad792e9f-1047-4746-97a2-e353d83c3c16",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bc03e04a-5700-45e6-b826-6a8bb08d88a7",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0dcb2bd3-8896-4556-bd49-cfe5a4924880",
              "name": "content",
              "value": "={{ $json['content:encoded'] }}",
              "type": "string"
            },
            {
              "id": "40577eb4-1426-4d4e-b6af-31a1deba2d9b",
              "name": "source",
              "value": "\"CISO Series\"",
              "type": "string"
            },
            {
              "id": "7a91b11e-f439-400b-8040-bbba05085229",
              "name": "sourceType",
              "value": "\"podcast\"",
              "type": "string"
            },
            {
              "id": "00346595-494a-444e-8749-54ba0a7b48fb",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        352
      ],
      "id": "c2f0623c-3dfe-4796-bb16-41300612f81a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fff4158a-5739-4aaf-973f-f07c716f4216",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ DateTime.now().minus(10, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        -288
      ],
      "id": "c3802e4c-067e-4d5b-9840-ca10319861f0",
      "name": "Check Publication Date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61fa4a20-164f-4d2b-9299-393edbe3055e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ad792e9f-1047-4746-97a2-e353d83c3c16",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bc03e04a-5700-45e6-b826-6a8bb08d88a7",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0dcb2bd3-8896-4556-bd49-cfe5a4924880",
              "name": "content",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "40577eb4-1426-4d4e-b6af-31a1deba2d9b",
              "name": "source",
              "value": "\"Simply Cyber Newsletter\"",
              "type": "string"
            },
            {
              "id": "7a91b11e-f439-400b-8040-bbba05085229",
              "name": "sourceType",
              "value": "\"Blog\"",
              "type": "string"
            },
            {
              "id": "00346595-494a-444e-8749-54ba0a7b48fb",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "87cada0e-a0f1-4b83-8e7c-b325f53472ae",
              "name": "author",
              "value": "={{ $json['dc:creator'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -320
      ],
      "id": "9d7f6fb7-e7c8-484b-a9fe-cdb4c147ade4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1232,
        -80
      ],
      "id": "869168e8-7ce0-449f-aaf1-a31d285cd00f",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "IDENTITY and GOAL:\n\nYou are an ultra-wise and brilliant classifier and judge of content. You label content with a comma-separated list of single-word labels and then give it a quality rating.\n\nTake a deep breath and think step by step about how to perform the following to get the best outcome.\n\nCRITICAL CONSTRAINTS:\n\n⚠️ YOU MUST ONLY USE THE EXACT LABELS PROVIDED BELOW - NO EXCEPTIONS\n⚠️ YOU MUST ONLY USE THE EXACT RATING TIERS PROVIDED BELOW - NO EXCEPTIONS\n⚠️ ANY DEVIATION FROM THE PROVIDED OPTIONS WILL CAUSE THE SYSTEM TO FAIL\n\nSTEPS:\n\n1. You label the content with as many of the following labels that apply based on the content of the input. \n\n**MANDATORY: You can ONLY use labels from this exact list. If a concept doesn't match these exact labels, DO NOT create a new label - skip it instead.**\n\nEXACT LABEL OPTIONS (ONLY USE THESE - CASE SENSITIVE):\n\nGovernance\nRisk\nCompliance\nAwareness\nTraining\nCareer\nLeadership\nFramework\nAudit\nPrivacy\nDataProtection\nCloudSecurity\nIncident\nBreach\nRegulation\nPolicy\nMetrics\nVendor\nThirdParty\nBusinessContinuity\nDisasterRecovery\nCommunication\nStakeholder\nBudget\nROI\nAutomation\nAITools\nStandards\nISO\nNIST\nSOC\nGDPR\n\n**END OF ALLOWED LABELS - NO OTHER LABELS ARE PERMITTED**\n\n2. You then rate the content based on the number of ideas in the input (below ten is bad, between 11 and 20 is good, and above 25 is excellent) combined with how well it directly and specifically matches the THEMES of: security awareness for business leaders, GRC program development, career advancement for GRC professionals, translating technical risks to business language, compliance simplification, security culture building, practical GRC implementation, demonstrating security value to executives, and bridging the gap between security teams and business objectives.\n\n3. Rank content significantly lower if it's purely technical without business context or career relevance. Content must be highly focused on business-friendly security awareness and/or GRC professional development to get a high score.\n\n4. Also rate the content significantly lower if it's fear-mongering without actionable solutions, or if it's vendor propaganda disguised as education.\n\n**MANDATORY RATING TIERS - USE EXACTLY ONE OF THESE:**\n\n- \"S Tier\" (Must Consume Original Content Immediately!): 18+ ideas and/or STRONG theme matching\n- \"A Tier\" (Should Consume Original Content This Week): 15+ ideas and/or GOOD theme matching\n- \"B Tier\" (Consume Original When Time Allows): 12+ ideas and/or DECENT theme matching\n- \"C Tier\" (Maybe Skip It): 10+ ideas and/or SOME theme matching\n- \"D Tier\" (Definitely Skip It): Few quality ideas and/or little theme matching\n\n**NO OTHER RATING VALUES ARE ALLOWED - MUST BE EXACTLY \"S Tier\", \"A Tier\", \"B Tier\", \"C Tier\", or \"D Tier\"**\n\n5. Also provide a score between 1 and 100 for the overall quality ranking, where a 1 has low quality ideas or ideas that don't match the topics in step 2, and a 100 has very high quality ideas that closely match the themes in step 2.\n\n6. Score content significantly lower if it's highly technical without business translation, purely academic without practical application, or vendor-specific without broader applicability.\n\n7. Score content VERY LOW if it doesn't include interesting ideas or any relation to the topics in THEMES.\n\nOUTPUT FORMAT:\n\nYour output is ONLY in JSON. The structure MUST be EXACTLY:\n\n{\n\"one-sentence-summary\": \"The one-sentence summary in less than 30 words.\",\n\"labels\": \"Comma-separated list using ONLY the exact labels from the allowed list above\",\n\"rating\": \"EXACTLY one of: S Tier, A Tier, B Tier, C Tier, or D Tier\",\n\"rating-explanation\": \"The explanation given for the rating in 5 short bullets.\",\n\"quality-score\": \"A number between 1 and 100\",\n\"quality-score-explanation\": \"The explanation for the quality score in 5 short bullets.\"\n}\n\nFINAL WARNINGS:\n\n⚠️ NEVER create new labels - if no label fits, omit it\n⚠️ NEVER use ratings other than S Tier, A Tier, B Tier, C Tier, or D Tier\n⚠️ NEVER add descriptive text after the tier rating\n⚠️ Labels must match EXACTLY as shown (case-sensitive): \"AITools\" not \"AI Tools\", \"ThirdParty\" not \"Third Party\"\n⚠️ If unsure if a label applies, DO NOT include it\n⚠️ Output ONLY the JSON object - no markdown, no backticks, no additional text\n\nINPUT:",
              "role": "assistant"
            },
            {
              "content": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -48,
        -48
      ],
      "id": "27e785f7-1bf8-432f-9724-d9a0f42d3062",
      "name": "fabric:label_and_rate",
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "# IDENTITY and PURPOSE\n\nYou are an expert at cleaning up broken and, malformatted, text, for example: line breaks in weird places, etc. \n\n# Steps\n\n- Read the entire input from the RSS reader to fully understand it.\n- Remove any strange line breaks that disrupt formatting.\n- Add capitalization, punctuation, line breaks, paragraphs and other formatting where necessary.\n- Do NOT change any content or spelling whatsoever.\n- Output the entire article\n\n# OUTPUT INSTRUCTIONS\n\n- Output the full, properly-formatted text.\n- Do not output warnings or notes—just the requested sections.\n- Do not ask if you should continue formatting the entire article\n\n# INPUT:\n\nINPUT:",
              "role": "assistant"
            },
            {
              "content": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -368,
        -64
      ],
      "id": "47375930-e77a-45ca-b223-3d46148e0d95",
      "name": "fabric:clean_text",
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process all input items\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  const response = item.json;\n  \n  // Initialize variable for the text content\n  let textContent;\n  \n  // Check if we have a content array (Anthropic API response format)\n  if (response.content && Array.isArray(response.content)) {\n    // Find the text content in the array\n    const textItem = response.content.find(item => item.type === 'text' && item.text);\n    if (textItem && textItem.text) {\n      textContent = textItem.text;\n    } else {\n      throw new Error('No text content found in response array');\n    }\n  }\n  // If content is a direct string\n  else if (typeof response.content === 'string') {\n    textContent = response.content;\n  }\n  // If the response is directly a string\n  else if (typeof response === 'string') {\n    textContent = response;\n  }\n  else {\n    // Log for debugging\n    console.log('Unexpected response structure:', JSON.stringify(response));\n    throw new Error('Unable to find text content in response');\n  }\n  \n  // Parse the JSON string and add to output\n  try {\n    const parsedData = JSON.parse(textContent);\n    outputItems.push({\n      json: parsedData\n    });\n  } catch (error) {\n    console.log('Failed to parse JSON for item. Content:', textContent);\n    throw new Error(`Invalid JSON: ${error.message}`);\n  }\n}\n\n// Return all processed items\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -48
      ],
      "id": "cabfd0fe-5340-481a-a2bd-861b35d1d600",
      "name": "Process for Notion"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CISO Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA Cybersecurity Advisories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unsupervised Learning",
            "type": "main",
            "index": 0
          },
          {
            "node": "Simply Cyber Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        []
      ]
    },
    "getContent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "fabric:clean_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISO Series": {
      "main": [
        [
          {
            "node": "Check Publication Date3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA Cybersecurity Advisories": {
      "main": [
        [
          {
            "node": "Check Publication Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupervised Learning": {
      "main": [
        [
          {
            "node": "Check Publication Date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publication Date1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publication Date2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Simply Cyber Newsletter": {
      "main": [
        [
          {
            "node": "Check Publication Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publication Date3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Check Publication Date": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "getContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fabric:label_and_rate": {
      "main": [
        [
          {
            "node": "Process for Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fabric:clean_text": {
      "main": [
        [
          {
            "node": "fabric:label_and_rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process for Notion": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "PUBLIC_VERSION",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "PUBLIC_INSTANCE"
  },
  "id": "PUBLIC_WORKFLOW_ID",
  "tags": []
}
